
body{
    background-color: rgb(153, 181, 209); 
}

.wrapper{
    width: 95%;
    margin: 0 auto;
    background-color: lightblue;
    text-align:center; 
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 100px 50px auto;
    grid-gap: 15px;
    grid-template-areas:
    "header header"
    "nav nav"
    "main main";
}

header{
    grid-area: header;
}

h2{
    color: black;
    text-align:center;
    font-size: 200%;
    text-decoration:underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p{
text-align: center; 
color:black;
font-size:large;
font-style: Italic;
}

.bild2{
width: 450px;
height: auto; 
display: block;
margin-left: auto;
margin-right: auto;
}

h1{
    color: black;
}

th{
    color: black;
}

nav{
 grid-area: nav;
}

nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li{
    list-style-type: none;
    text-align: center;
    border: 1px solid black;
    font-size: 2em;
    background-color: rgb(128, 128, 230);
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: nones;
}

table{
    display:block
}

main{
    grid-area: main;
}

a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.f{
    font-family:Arial, Helvetica, sans-serif
}

table, th, td{
    border: 1px solid black; 
    border-collapse: collapse;
    margin-right: 20%;
    margin-left: 10%;
    width: 600px;
}

th{
    color: crimson;
    background-color: rgb(24, 24, 24);
}

td{
    color: blue;
    background-color: azure;
}

